* {
    margin: 0;
    padding: 0;
}

.descuentoInicio {
    text-align: center;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    background-color: #3A4F7A;
    color: #FFC6D3;
    position: sticky;
    font-family: 'Roboto Slab', serif;
}

.navBar {
    text-align: center;
    margin-top: 10px;

    ul {
        display: flex;
        justify-content: center;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        padding: 10px;
        font-family: 'Roboto Slab', serif;
    }
}

.navBar li:hover {
    color: black;
    font-weight: bold;
}

.imgBanner {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textoPrincipal {
    text-align: center;
    width: 1000px;
    display: block;
    margin: auto;
    color: #3A4F7A;
    font-family: 'Roboto Slab', serif;

    h1 {
        margin: 10px;
    }
}

.container {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
}

.card {
    height: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px #FFC6D3;
    overflow: hidden;

    img {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
}

.intro {
    padding: 6px;
    box-sizing: border-box;
}

h1,
p {
    font-size: 20px;
    text-align: center;
    color: #3A4F7A;
}

.footer {
    text-align: center;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    background-color: #3A4F7A;
    color: #FFC6D3;
    position: sticky;
    font-family: 'Roboto Slab', serif;
}