* {
    margin: 0;
    padding: 0;
}

.descuentoInicio {
    text-align: center;
    font-size: 12px;
    padding: 5px;
    background-color: #F1A661;
    color: #FDEEDC;
    position: sticky;
    font-family: 'Roboto Slab', serif;
}

.imgLogo {
    height: 80px;
}

.navBar {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 50px;
        margin-bottom: 0;
        padding-bottom: 8px;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        padding: 10px;
        font-family: 'Roboto Slab', serif;
        color: #E38B29;
    }
}

.navBar li:hover {
    color: black;
    font-weight: bold;
}

.textoPrincipal {
    display: flex;
    justify-content: center;

    h1 {
        color: #E38B29;
        font-size: 19px;
        font-family: 'Roboto Slab', serif;
        width: 600px;
        padding: 30px;
    }
}

.contenedorCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    max-width: 17rem;
    max-height: auto;
    margin: 5px;
    box-shadow: 5px 5px 20px #F1A661;
    overflow: hidden;

    img {
        width: 17rem;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
}

.card-body {
    background-color: #E38B29;
    font-size: 15px;
    text-align: center;

    h5 {
        color: #FDEEDC;
    }

    p {
        color: #FDEEDC;
    }
}

.contenedorLogos {
    display: grid;
    gap: 5rem;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    text-align: center;
    padding: 5rem;

    p {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        color: #E38B29;
    }
}

.logosPequeños {
    height: 110px;
}

.tiendaOnline {
    background-color: #FFD8A9;

    h1 {
        text-align: center;
        font-family: 'Roboto Slab', serif;
        padding-top: 50px;
    }
}

.contenedorCajas {
    display: grid;
    gap: 5rem;
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    justify-items: center;
    padding: 3rem;

    img {
        height: 250px;
    }

    li {
        list-style: none;
    }

    a {
        color: black;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        text-decoration: none;
    }

    li ul {
        display: none;
    }

    li:hover ul {
        display: block;
    }
}

.secFormulario {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fbf6f0;
}

.formulario {
    width: 400px;
    background-color: #E38B29;
    padding: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-family: 'Roboto Slab', serif;

    h1 {
        font-size: 22px;

    }

    .controls {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid black;
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
    }

    .botons {
        width: 100%;
        border: none;
        padding: 7px;
        font-weight: bold;
        font-size: 15px;
    }
}

.formuDetalle {

    div {
        text-align: center;
        margin-top: 50px;
    }

    img {
        height: 30px;
        margin-bottom: 10px;
    }

    p {
        text-align: center;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
    }
}

.footer {
    text-align: center;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    background-color: #F1A661;
    color: #FDEEDC;
    position: sticky;
    font-family: 'Roboto Slab', serif;
}